shallow_clone: true

environment:
  matrix:
    - nodejs_version: "8"

branches:
  only:
  - master

platform:
  - x64

install:
  - ps: Install-Product node $env:nodejs_version $env:platform
  - ps: npm install --global --production windows-build-tools

before_build:
  - node --version && yarn --version && python --version

build_script:
  - yarn